<%= render :partial => "shared/dashboard_user_header", :locals => {:user => current_user} %>

<div class="module">
	<h3>Following</h3>
	<div>
		<% if current_user.following.count == 0 %>
			<p> You are not following anyone!</p>
		<% else %>
			<% current_user.following.each do |user| %>
				<%= render :partial => "shared/user", :locals => {:user => user}  %>
			<% end %>
		<% end %>
	</div>
</div>