<%= render :partial => "shared/dashboard_user_header", :locals => {:user => current_user} %>

<div class="module">
	<h3>Tweets</h3>
	<div id="tweets">
		<% if current_user	.tweets.count == 0 %>
			<p> <%= current_user	.full_name %> has no Tweets</p>
		<% else %>
			<%= render :partial => "shared/tweet", :locals => {:tweets => @feed}  %>
		<% end %>
	</div>
</div>


<div id="infinite-scrolling">
  <%= will_paginate @feed %>
</div>