<%= render :partial => "shared/dashboard_user_header", :locals => {:user => current_user} %>

<div class="module">
	<h3>Following</h3>
	<div>
		<% if current_user.tweets.count == 0 %>
			<p> You haven't tweeted yet.</p>
		<% else %>
			<% current_user.tweets.each do |tweet| %>
				<%= render :partial => "shared/tweet", :locals => {:tweet => tweet}  %>
			<% end %>
		<% end %>
	</div>
</div>