<div class="navbar">
  <div class="navbar-inner">
  <%= notice %>
  <%= alert %>
  <% if current_user %>
  <%=current_user.email %>
  <%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
  <% end %>
  </div><!-- /navbar-inner -->
</div>