<%= render :partial => "shared/dashboard_user_header", :locals => {:user => @user} %>

<div class="module">
<h3>Followers</h3>
	<% if @user.followers.count == 0 %>
		<p> No one Cares about you!</p>
	<% else %>
		<% @user.followers.each do |user| %>
			<%= render :partial => "shared/user", :locals => {:user => user}  %>
		<% end %>
	<% end %>
</div>