<%= render :partial => "shared/dashboard_user_header", :locals => {:user => @user} %>

<div class="module">
<h3>Following</h3>
	<% if @user.following.count == 0 %>
		<p> You are not following anyone!</p>
	<% else %>
		<% @user.following.each do |user| %>
			<%= render :partial => "shared/user", :locals => {:user => user}  %>
		<% end %>
	<% end %>
</div>